<link rel="stylesheet" href="styles.css">
<script src="https://unpkg.com/vue"></script>

<div id="desafio">
	<!-- 1) Iniciar a execução do efeito usando botão. 
    O efeito deve alternadamente trocar as classes "destaque" e
    "encolher" para cada chamada de setInteval. Use a div abaixo
	com id "efeito" para associar as classes CSS. (DONE..?) (INCORRECT (Tinha de ser setInterval e não setTimeout))-->
	<h2>#01</h2>
	<div>
		<button @click="iniciarEfeito">Iniciar Efeito</button>
		<div id="efeito" :class="estiloVue1"></div>
	</div>
	
	<!-- 2) Crie duas classes CSS e associe a div usando a
		sintaxe de array (DONE) (CORRECT...I GUESS...) -->
	<h2>#02</h2>
	<div :class="['valor', 'box-size']">Estou sem classe CSS :(</div>

	<!-- 3) Aplique na div abaixo a classe informada pelo usuário
		(crie classe CSS de exemplo). (DONE) (CORRECT) -->
	<h2>#03</h2>
	<div>
		<input type="text" v-model="classeCSS">
		<div :class="classeCSS"></div>
	</div>

	<!-- 4) Aplique na div abaixo a classe informada pelo usuário e
	outra classe usando o valor true/false (crie classes CSS de exemplo). (NOT DONE TOTALLY) (INCORRECT (outraClasseCSS tinha de iniciar como string))-->
	<h2>#04</h2>
	<div>
		<input type="text" v-model="classeCSS">
		<input type="text" @input="estiloVue2">
		<div :class="[classeCSS, {instinct}]"></div>
	</div>

	<!-- 5) Repita 3) mas utilizando estilos ao invés de classes CSS.
    Associe os estilos a div abaixo (DONE...?) (CORRECT I GUESS....) -->
	<h2>#05</h2>
	<div>
		<input type="text" v-model="cor">
		<div :style="estiloVue3"></div>
	</div>

	<!-- 6) Crie uma barra de progresso simples com setInterval 
    e binding de estilo. (PARTIALLY DONE) (INCORRECT) -->
	<h2>#06</h2>
	<div>
		<button @click="iniciarProgresso">Iniciar</button>
		<div :style="[estiloVue4]">
			<div :style="[estiloVue5]"></div>
		</div>
	</div>
</div>
<script src="app.js"></script>